* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family:"Roboto",sans-serif;
}

i {
    pointer-events: none;
}

.colors {
    display: flex;
    height: 84vh;
    flex-direction: row;
    overflow: hidden;
    color: aqua;
}

.color {
    height: 84vh;
    position: relative;
    flex: 1;
    border-radius: 12rem;
    overflow: hidden !important;
}

.controls {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0rem;
    position: relative;
    overflow: hidden !important;
}

.controls button {
    margin: 4rem 0rem;
    border: none;
    color: blue;
    font-size: 20px;
    background: none;
    cursor: progress;
}

.controls h2 {
    cursor: pointer;

}

.fa-lock-open {

    cursor: pointer !important;
}

.sliders {
    background-color: rgb(255, 255, 255);
    height: 14rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 1.4rem 1.4rem 0rem 0rem;
    bottom: 0%;
    transform: translateY(11rem);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    margin-left: 2em;
}

.sliders.down {
    transform: translateY(0rem);
    opacity: 1;
}

.sliders * {
    padding: 0.46em;
}

.sliders input {
    -webkit-appearance: none;
    margin: 0.2rem;
    padding: 0.1em;
    border-radius: 0.8rem;
}

.sliders button {
    position: absolute;
    padding: 0.2;
    padding-right: 1;
    border: none;
    top: 3.5%;
    right: 1.2%;
    border-top-right-radius: 1.4rem;
    border-bottom-left-radius: 1rem;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background: rgb(163, 152, 152);
    color: white;
}

.panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(243, 244, 248);
    padding: 1rem;
}

.library-panel,
.generate-panel,
.save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel button {
    background-color: rgb(61, 83, 134);
    color: white;
    font-size: 22px;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
}

.copy-container,
.save-container,
.library-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

}


.copy-popup,
.save-popup,
.library-popup {
    background: white;
    width: 25%;
    height: 25%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    transform: translateY(-2rem);
    transition: all 0.5s ease;
    opacity: 0;
}

.copy-popup h4 {
    margin-top: 2rem;
    font-size: 28px;
}

.copy-container.active,
.save-container.active,
.library-container.active {
    opacity: 1;
    pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
    transform: translateY(0rem);
    opacity: 1;
}

.save-container button {
    margin: 0.5rem;
}

.save-popup {
    width: 30%;
    height: 30%;
}

.save-popup input {
    margin: 1rem;
    margin-top: 0rem;
    padding: 0.4rem;
}

.save-popup h4 {
    padding-bottom: 1rem;
    font-size: 18px;
    margin-top: 2rem;
}

.submit-save {
    border-radius: 10px;
    border: none;
    padding: 0.6rem;
    background: rgb(83, 84, 160);
    color: white;
    font-size: 17px;
}

.save-popup button:first-child,
.close-library {
    position: absolute;
    top: 0%;
    right: 0%;
    display: block;
    font-size: 18px;
    background: rgb(121, 112, 112);
    border: none;
    color: white;
    padding: 0.4rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.library-popup h4 {
    padding-top: 4rem;
}

.library-popup {
    padding: 2rem 0rem;
    box-sizing: content-box;
    justify-content: flex-start;
    overflow: auto;
    height: 70%;
    width: 30%;
    max-height: 70%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palette div {
    width: 100px;
    height: 48px;
    display: flex;
    flex: 1;
}

.palette {
    margin-left: 3rem;
    max-width: 15rem;
    display: flex;
    flex: 1;
}

.palette-container {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    width: 100%;
}

.palette-container .name {
    margin-right: 0.2rem;
}

.select-btn {
    width: 62px;
    height: 48px;
    background: rgb(76, 110, 185);
    border: none;
<<<<<<< HEAD
    color: white;
}
=======
    color:white;
}
/* Responsive desgin for controls from starts here*/

  @media only screen and (max-width: 835px) {
    .sliders.down {
        max-width: 130px;
        right: 20px;
    }
    .hue-input{
        max-width: 120px;
    }
    .bright-input{
        max-width: 120px;
    }
    .sat-input{
        max-width: 120px;
    }
  } 
  @media only screen and (max-width: 785px) {
    .sliders.down {
        max-width: 110px;
        right: 20px;
    }
    .hue-input{
        max-width: 90px;
    }
    .bright-input{
        max-width: 90px;
    }
    .sat-input{
        max-width: 90px;
    }
  } 

  @media only screen and (max-width: 612px) {
    .sliders.down {
        max-width: 90px;
        right: 20px;
    }
    .hue-input{
        max-width: 70px;
    }
    .bright-input{
        max-width: 70px;
    }
    .sat-input{
        max-width: 70px;
    }
  } 
  
    @media only screen and (max-width: 555px) {
    .sliders.down {
        max-width: 70px;
        right: 20px;
    }
    .hue-input{
        max-width: 50px;
    }
    .bright-input{
        max-width: 50px;
    }
    .sat-input{
        max-width: 50px;
    }
  } 
   /* Responsive desgin for controls from end here*/
>>>>>>> c34760d066e43fc73c3998003f47d9526638aeb1
